@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #d3d3ff15;
    background-size: cover;
}

nav{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

ul{
    display: flex;
    gap: 48px;
    list-style: none;
}

li a{
    text-decoration: none;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: gray;
    transition: 0.5s;
}

.cart{
    display: flex;
    align-items: center;
}
.cart i{
    font-size: 24px;
}
.cart a{
    color: black;
    padding-left: 3px;
}


/* banner */

.banner{
    width: 75%;
    display: flex;
    align-items: end;
    margin: auto;
    margin-top: 120px;
}




.banner-text{
    width: 50%;
}
.banner-text h1{
    font-family: "Noto Serif", serif;
    font-size: 65px;
    color: #FF5C00;
}
.banner-text p{
    font-family: "Inter", serif;
    font-size: 22px;
    color: grey;
}



.banner-img{
    width: 50%;
    text-align: right;
}






/* main */

main{
/*     width: 75%;
 */    text-align: center;
    margin: auto;
    margin-top: 120px;
}

.plants h1{
    padding-bottom: 16px;
    font-family: "Noto Serif", serif;
    font-size: 50px;
}
.plants p{
    font-size: 22px;
    font-family: "Inter", serif;
    color: gray;
    margin-bottom: 50px;
}

.card{
    width: 270px;
    height: 484px;
}
.card img{
    padding-bottom: 30px;
}
.card-text p{
    font-size: 22px;
    font-family: "inter", serif;
    padding: 3px;
}

button{
    padding: 17px;
    font-size: 14px;
    font-family: "Inter", serif;
    border: none;
    background-color: #FF5C00;
    color: aliceblue;
    margin-top: 30px;
    width: 100%;
    transition: 0.5s;
}
button:hover{
    transform: scale(1.06);
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 60px 10px;
    margin-bottom: 210px;
}



/* plants-lover */

.plants{
    width: 75%;
    margin: auto;
}

.card-container{
    width: 75%;
    margin: auto;
    margin-bottom: 140px;
}

/* plant lover */

.plants-lover{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    margin-bottom: 120px;
}

.plants-lover-img{
    position: relative;
}

.badge img{
    width: 260px;
    position: absolute;
    top: -0;
    right: -120px;
    margin-top: -110px;
}

.plants-lover-text{
    width: 40%;
    text-align: left;
}
.plants-lover-text h1{
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 20px;
}
.plants-lover-text p{
    font-size: 22px;
    font-family: "Inter", serif;
    padding-bottom: 20px;
}

.plants-lover-text ul{
    display: flex;
    flex-direction: column;
    list-style:disc;
    color: grey;
}


/* deal-section */

.deal-text{
    margin-bottom: 120px;
    margin: auto;
    width: 75%;
    margin-bottom: 120px;
}

.deal-text h1{
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: 600;
    padding: 16px;
}

.deal-text p{
    font-size: 22px;
    font-family: "Inter", serif;
    color: grey;
}

.deal-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    width: 75%;
    margin: auto;
}
.deal-section p{
    padding: 26px 50px;
    font-size: 16px;
    font-family: "Inter", serif;
}
.deal-1-2{
    display: grid;
    gap: 30px;
}

.deal-1{
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./assets/deal-ana.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 105px 50px;
    border-radius: 15px;
    color: aliceblue;
}


.deal-2{
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./assets/deal-bloom.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 105px 50px;
    border-radius: 14px;
    color: aliceblue;
}

.deal-3{
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./assets/deal-zabo.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 14px;
    color: aliceblue;
    display: grid;
    place-content: center;
}

hr{
    width: 80px;
    color: aliceblue;
    margin: auto;
    margin-top: -25px;
}



/* subscription-section */

.subscribe-section{
    width: 100%;
    height: 480px;
    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)), url(./assets/news-letter-bg.png);
    margin-top: 120px;
    background-repeat: no-repeat;
    background-size: cover;
}

.sub-text{
    width: 60%;
    margin: auto;
}

.sub-text h1{
    color: aliceblue;
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: 600;
    padding-top: 200px;
    padding-bottom: 23px;
}

form{
    display: flex;
    align-items: center;
}

input{
    width: 100%;
    height: 52px;
    padding: 8px;
}

.btn button{
    margin: 0;
    width: 13rem;
    font-family: "Inter", serif;
    font-size: 16px;
}

