@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #d3d3ff15;
    background-size: cover;
}

nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

ul{
    display: flex;
    gap: 48px;
    list-style: none;
}

li a{
    text-decoration: none;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: gray;
    transition: 0.5s;
}

.cart{
    display: flex;
    align-items: center;
}
.cart i{
    font-size: 24px;
}
.cart p{
    color: black;
    padding-left: 3px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}


/* banner */

.banner{
    width: 80%;
    display: flex;
    align-items: end;
    margin-top: 120px;
    margin: auto;
    justify-content: space-between;
}


.banner-text{
    width: 50%;
}
.banner-text h1{
    font-family: "Noto Serif", serif;
    font-size: 65px;
    color: #FF5C00;
}
.banner-text p{
    font-family: "Inter", serif;
    font-size: 22px;
    color: grey;
}



.banner-img{
    text-align: right;
}






/* main */

main{

    text-align: center;
    margin-top: 120px;
}

.plants h1{
    padding-bottom: 16px;
    font-family: "Noto Serif", serif;
    font-size: 50px;
}
.plants p{
    font-size: 22px;
    font-family: "Inter", serif;
    color: gray;
    margin-bottom: 50px;
}

.card{
    width: 270px;
    height: 484px;
}
.card img{
    padding-bottom: 30px;
    width: 100%;
}
.card-text p{
    font-size: 22px;
    font-family: "inter", serif;
    padding: 3px;
}
.bold{
    font-weight: 600;
}

button{
    padding: 17px;
    font-size: 14px;
    font-family: "Inter", serif;
    border: none;
    background-color: #FF5C00;
    color: aliceblue;
    margin-top: 30px;
    width: 100%;
    transition: 0.5s;
}
button:hover{
    transform: scale(1.06);
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    width: 70%;
    margin: auto;
}



/* plants-lover */

.plants{
    width: 80%;
    margin: auto;
}

.card-container{
    margin-bottom: 210px;
}

/* plant lover */

.plants-lover{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-bottom: 120px;
}

.plants-lover-img{
    position: relative;
}

.badge img{
    width: 260px;
    position: absolute;
    top: -0;
    right: -120px;
    margin-top: -110px;
}

.plants-lover-text{
    width: 40%;
    text-align: left;
}
.plants-lover-text h1{
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 20px;
}
.plants-lover-text p{
    font-size: 22px;
    font-family: "Inter", serif;
    padding-bottom: 20px;
}

.plants-lover-text ul{
    display: flex;
    flex-direction: column;
    list-style:disc;
    color: grey;
}


/* deal-section */

.deal-text{
    margin: auto;
    width: 80%;
    margin-bottom: 120px;
}

.deal-text h1{
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: 600;
    padding: 16px;
}

.deal-text p{
    font-size: 22px;
    font-family: "Inter", serif;
    color: grey;
}

.deal-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    width: 80%;
    margin: auto;
}
.deal-section p{
    padding: 26px 50px;
    font-size: 16px;
    font-family: "Inter", serif;
}
.deal-1-2{
    display: grid;
    gap: 30px;
}

.deal-1{
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./assets/deal-ana.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 105px 50px;
    border-radius: 15px;
    color: aliceblue;
}


.deal-2{
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./assets/deal-bloom.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 105px 50px;
    border-radius: 14px;
    color: aliceblue;
}

.deal-3{
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./assets/deal-zabo.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 14px;
    color: aliceblue;
    display: grid;
    place-content: center;
}

hr{
    width: 80px;
    color: aliceblue;
    margin: auto;
    margin-top: -25px;
}



/* subscription-section */

.subscribe-section{
    width: 100%;
    height: 480px;
    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)), url(./assets/news-letter-bg.png);
    margin-top: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.sub-text{
    width: 60%;
    margin: auto;
}

.sub-text h1{
    color: aliceblue;
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: 600;
    padding-top: 200px;
    padding-bottom: 23px;
}

form{
    display: flex;
    align-items: center;
}

input{
    width: 100%;
    height: 52px;
    padding: 8px;
}

.btn button{
    margin: 0;
    width: 13rem;
    font-family: "Inter", serif;
    font-size: 16px;
}



/* footer */

footer{
    width: 80%;
    height: 250px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 120px;
    margin-bottom: 100px;
}


.end-logo p{
    font-family: "Inter", serif;
    font-size: 22px;
    color: grey;
    padding-top: 16px;
}

.nav-menu ul{
    display: flex;
    flex-direction: column;
}
.nav-menu li{
    font-family: "Inter", serif;
    font-size: 16px;
    cursor: pointer;
}

.policy ul{
    display: flex;
    flex-direction: column;
}
.policy li{
    font-family: "Inter", serif;
    font-size: 16px;
    cursor: pointer;
}

.icons img{
    padding: 5px;
}












/* media querry */

@media screen and (max-width:576px){
    
    nav{
        width: 90%;
    }
    nav li a{
        display: none;
    }
    .logo img{
        width: 90px;
    }







    .banner{
        flex-direction: column-reverse;
        align-items: first baseline;
        margin: 0;
        width: 100%;
    }
    .banner-text{
        width: 90%;
        margin: auto;
    }
    .banner-text h1{
        font-size: 36px;
    }
    .banner-text p{
        font-size: 16px;
    }
    .banner-img img{
        padding-bottom: 28px;
        width: 100%;
    }








    .plants h1{
        font-size: 36px;
    }
    .plants p{
        font-size: 16px;
    }

    .card-container{
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        margin-bottom: 210px;
        gap: 20px;
    }
    .card{
    width: 100%;
}
.card-img img{
    width: 100%;
}






    .badge img{
        display: none;
    }

    .plants-lover{
        flex-direction: column;
    }
    .plants-lover-text{
        width: 90%;
        padding-top: 20px;
    }
    .plants-lover-text h1{
        font-size: 24px;
        padding-bottom: 16px;
    }

    .plants-lover-text li p{
        font-size: 16px;
        padding-bottom: 0px;
    }
    .plants-lover-img img{
    width: 100%;
}







    .deal-section{
        grid-template-columns: repeat(1, 1fr);
    }
    .deal-3{
        padding: 105px 50px;
    }
    .deal-text h1{
        font-size: 32px;
    }
    .deal-text p{
        font-size: 16px;
    }
    .deal-text{
        margin-bottom: 50px;
    }








    .sub-text h1{
        font-size: 20px;
    }
    .btn button{
        width: 7.5rem;
    }










    footer{
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
        color: grey;
    }
    .end-logo img{
        width: 180px;
    }
    .end-logo p{
        font-size: 16px;
        padding-top: 16px;
    }
    .icons img{
        margin-bottom: 30px;
    }

}